.Menu {
    display: flex;
    height: 100%;
}

.menu-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    height: 100%;
}

.menu-left.on {
    width: 110px;
}

.logo {
    width: 116px;
    margin: 25px 0;
    cursor: pointer;
}

.logo.on {
    width: 68px;
}

.menu-right {
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.menu-right img {
    width: 21.69px;
    cursor: pointer;
}