.Navigator {
    display: flex;
    height: 33px;
}

.focus-input {
    width: 0;
    border: none;
}

.focus-input:focus {
    outline: none;
}

.navbar-left {
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-left img {
    width: 21.69px;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-self: flex-end;
    flex: 1;
    height: 35px;
    border-left: 2px solid #C0C7CE;
    border-bottom: 2px solid #C0C7CE;
    box-sizing: border-box;
}

