.SelectBox {
    display: flex;
    gap: 15px;
}

.select-input-box {
    border: 1px solid #7B61FF1A;
    border-radius: 10px;
    font-size: 12px;
    padding: 10px 10px;
    width: 100%;
    height: 38px;
    box-sizing: border-box;

    -webkit-appearance: none; /* for chrome */

    -moz-appearance: none; /*for firefox*/
  
    appearance: none;
    background: url('../../assets/images/search-icon.svg') no-repeat calc(100% - 10px) 52%/20px auto;
}

.select-input-box:focus {
    outline: none;
}

.select-input-box::placeholder {
    color: #ADB5BD;
}

.options-box {
    position: relative;
}

.options-inner-box {
    position: absolute;
    top: 5px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #E9ECEF;
}

.options-inner-box.category {
    padding: 10px;
    box-sizing: border-box;
}

.category-input-box {
    position: relative;
    margin-bottom: 5px;
}

.category-input {
    border: 1px solid #7B61FF1A;
    border-radius: 10px;
    font-size: 12px;
    padding: 10px 10px;
    width: 100%;
    height: 27px;
    box-sizing: border-box;

    -webkit-appearance: none; /* for chrome */

    -moz-appearance: none; /*for firefox*/
  
    appearance: none;
}

.category-plus-image {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    pointer-events: none;
    cursor: pointer;
}

.category-bar {
    width: 100%;
    height: 2px;
    background-color: #7B61FF1A;
}

.empty-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 178px;
}

.empty-text {
    color: #C0C7CE;
    font-size: 12px;
}

.registration-button {
    display: flex;
    align-items: center;
    height: 26px;
    background-color: black;
    padding: 0 30px;
    border-radius: 10px;
    font-size: 12px;
    color: white;
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.option {
    padding: 5px;
    width: 100%;
    text-align: center;
}

.option.focus {
    background-color: gray;
}

/* .option:hover {
    background-color: gray;
} */

.options.category {
    padding: 10px 0;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    flex-wrap: wrap;
}

.options div {
    cursor: pointer;
    white-space: nowrap;
}

.select-box-left {
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex: 1;
}

.select-box-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    gap: 10px;
    flex: 1;
    flex-wrap: wrap;
    overflow: hidden;
}

.item-category {
    border: 1px solid #495057;
    border-radius: 31px;
    color: #495057;
    padding: 5px;
    font-size: 12px;
    font-weight: 500;
}

.item-category.checked {
    color: rgb(248, 249, 250);
    background-color: rgb(73, 80, 87);
}