.UploadImage {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.upload-image-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.image-text-box {
    border: 1px solid #7B61FF1A;
    border-radius: 10px;
    font-size: 12px;
    padding: 10px 10px;
    width: 100%;
    height: 38px;
    box-sizing: border-box;
    align-self: flex-start;
}

.image-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0 10px;
    box-sizing: border-box;
    width: 100%;
    height: 26px;
    background-color: #F1F3F5;
    font-size: 12px;
    font-weight: 600;
}

.upload-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background-color: #F1F3F5;
    color: #C0C7CE;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.upload-button.product {
    color: #495057;
    border-radius: 10px;
    width: 162px;
    height: 200px;
}

.preview {
    display: none;
    width: 134px;
    height: 134px;
    border-radius: 50%;
    object-fit: cover;
}

.upload {
    display: none;
}

.left-set {
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}