.UploadImage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.upload-image-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.image-text-box {
    border: 1px solid #7B61FF1A;
    border-radius: 10px;
    font-size: 12px;
    padding: 10px 10px;
    width: 100%;
    height: 38px;
    box-sizing: border-box;
    align-self: flex-start;
}

.upload-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background-color: #F1F3F5;
    color: #C0C7CE;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.preview {
    display: none;
    width: 134px;
    height: 134px;
    border-radius: 50%;
}

.upload {
    display: none;
}
