.Tab {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;
    cursor: pointer;
}

.tab.home {
    justify-content: flex-start;
}

.tab.menu {
    justify-content: center;
}

.tab-text {
    font-size: 18px;
    font-weight: 600;
    color: #ADB5BD;
}

.tab-text.on {
    color: black;
}

.tab-text.home {
    color: black;
}


.tab-img-home-box {
    position: relative;
    width: 70px;
    display: flex;
    justify-content: center;
}

.tab-img-box {
    position: relative;
}

.tab-img-hover {
    position: absolute;
    display: none;
    top: calc(100% + 5px);
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #000000CC;
    color: white;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 18px;
    border-radius: 10px;
}

.tab-img-hover.hover {
    display: block;
}