.App {
  display: flex;
  width: 100%;
  height: 100%;
}

.empty-target {
  width: 100%;
  overflow: hidden;
}

.router {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.grid-box {
  padding: 0 33px 33px 33px;
  flex: 1;
  background-color: #F8F9FA;
}

.list-button {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.list-button-left, .list-button-right {
  display: flex;
  gap: 5px;
  align-items: center;
}


.render-count-title {
  font-size: 12px;
  font-weight: 600;
  white-space: nowrap;
}

.render-count {
  width: 77px;
  height: 44px;
  border-radius: 10px;
  padding: 13px 10px;
  color: black;
  border: 1px solid #495057;

  font-size: 16px;
  font-weight: 600;
  box-sizing: border-box;
  cursor: pointer;
}

.render-count:focus {
  outline: #495057;
}

.list {
  height: 500px;
  border: 1px solid #ADB5BD;
  border-radius: 10px;
}






.dx-header-row > td {
  vertical-align: middle !important;
}

.dx-datagrid-headers .dx-datagrid-table .dx-row > td {
  background-color: #F1F3F5;
  color: #495057;
  font-weight: 600;
}

.dx-datagrid-headers {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #F1F3F5;
}

.dx-datagrid-rowsview {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.dx-datagrid .dx-header-filter {
  position: relative;
  color: rgba(0,0,0,.54);
  font: 12px/1 DXIcons !important
}

.dx-datagrid-headers {
  color: #495057 !important
}

.dx-checkbox-icon { 
  border: 2px solid #999999 !important
}

.dx-texteditor.dx-state-active.dx-editor-filled, .dx-texteditor.dx-state-active.dx-editor-outlined, .dx-texteditor.dx-state-active.dx-editor-underlined, .dx-texteditor.dx-state-focused.dx-editor-filled, .dx-texteditor.dx-state-focused.dx-editor-outlined, .dx-texteditor.dx-state-focused.dx-editor-underlined {
  border-color: black !important;
}


/* ν•„ν„° μΈν’‹ */
.dx-texteditor-input-container {
  flex-direction: row-reverse;
}

.dx-searchbox .dx-placeholder::before, .dx-searchbox .dx-texteditor-input {
  padding-left: 10px !important;
  padding-right: 34px !important;

}

.dx-searchbox .dx-icon-search {
  font: 17px/18px DXIcons;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  width: 34px;
  height: 34px;
  background-position: 8px 8px;
  background-size: 18px 18px;
  padding: 8px;
  text-align: center;
  color: #999;
}


.dx-datagrid .dx-row-lines > td {
  vertical-align: middle !important;
  text-align: center !important;
  font-weight: 600;
}