html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #C0C7CE;
}

select {
  color: #C0C7CE;
}

.opt {
  color: black;
}

select:focus {
  outline: none;
}

select option[value=""][disabled] {
  color: #C0C7CE;
	display: none;
}

select {
  -webkit-appearance: none; /* for chrome */

  -moz-appearance: none; /*for firefox*/

  appearance: none;
  background: url('./assets/images/drop-down-arrow.svg') no-repeat calc(100% - 10px) 52%/12px auto;
}

select::-ms-expand{

  display: none; /*for IE10,11*/

}