/* ******** */
/* 모달 CSS */
/* ******** */
.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.modal-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
    opacity: .5;
}

.modal-content-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 680px;
    border-radius: 10px;
    background-color: white;
    overflow: hidden;
}

.modal-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.modal-top-box {
    display: flex;
    padding: 0 25px;
    height: 53px;
    align-items: center;
    justify-content: space-between;
}

.modal-middle-box {
    flex: 1;
    padding: 0 25px;
    overflow-y: scroll;
}

.modal-middle-box::-webkit-scrollbar {
    width: 10px;  /* 스크롤바의 너비 */
}

.modal-middle-box::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #C0C7CE; /* 스크롤바의 색상 */

    border-radius: 10px;
}

.modal-middle-box::-webkit-scrollbar-track {
    background: #E9ECEF;  /*스크롤바 뒷 배경 색상*/
    border-radius: 10px;
}

.toggle-box {
    display: flex;
    font-size: 12px;
    font-weight: 500;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.modal-bottom-box {
    height: 60px;
}

.modal-title {
    font-size: 20px;
    font-weight: 600;
}

.section-box {
    margin-top: 40px;
    font-size: 12px;
    font-weight: 600;
    color: #707C87;
}

.section-title {
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
    color: black;
}

.modal-col {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 20px 0;
}

.modal-col-box {
    display: flex;
    flex-direction: column;
    min-width: 0;
    flex: 1;
}

.modal-col-box-title {
    font-size: 12px;
    font-weight: 600;
    color: #495057;
    margin-bottom: 5px;
}

.modal-col-box-inner {
    display: flex;
    align-items: center;
    gap: 2px;
}



.modal-col-box-inner.hidden > *:not(:first-child){
    pointer-events: none;
}

.custom-check-box.nonevisible {
    visibility: hidden;
    display: inline;
    margin-right: 7px;
}

input.custom-check-box, label.custom-check-box {
    display: none;
}

label.custom-check-box.visible {
    display: inline;
}

input.custom-check-box + label.custom-check-box{
    cursor: pointer;
}

/* label:before에 체크하기 전 상태 CSS */
input.custom-check-box + label.custom-check-box:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #DEE2E6;
    border-radius: 2px;
    vertical-align: middle;
}

/* label:before에 체크 된 상태 CSS */  
input.custom-check-box:checked + label.custom-check-box:before {
    content: "";
    background-color: black;
    border-color: black;
    background-image: url('../../assets/images/check-1-icon.svg');
    background-repeat: no-repeat;
    background-position: 50%;
}

.modal-col-box-input {
    border: 1px solid #7B61FF1A ;
    border-radius: 10px;
    font-size: 12px;
    padding: 10px 10px;
    height: 38px;
    flex: 1;
    min-width: 0;
    box-sizing: border-box;
}

.box-select {
    color: #C0C7CE;
}

.modal-col-box-input:focus {
    outline: none;
}

.modal-col-box-input option[value=""][disabled] {
    color: #C0C7CE;
    display: none;
}
  
.modal-col-box-input::placeholder{
    font-size: 12px;
    font-weight: 500;
}

.opt {
    color: black;
}

.modal-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    height: 60px;
    color: #C0C7CE;
    background-color: #F1F3F5;
    cursor: pointer;
}
/* ******** */
/* 모달 CSS */
/* ******** */


.order-item {
    margin: 20px 0 50px 0;
}

.order-item div {
    font-size: 14px;
    font-weight: 600;
}

.order-list {

}

.total-data-box {
    display: flex;
    align-items: center;
    height: 25px;
    background-color: #E9ECEF;
}

.note-box {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 10px;
}

.note-text {
    font-size: 12px;
    font-weight: 500;
    margin: 0 20px;
}

.note-input {
    border: none ;
    font-size: 12px;
    padding: 10px 10px;
    flex: 1;
    height: 36px;
    background-color: #F8F9FA;
    box-sizing: border-box;
}

.order-button {
   background-color: #228BE6;
   color: white;
}

.order-success-image {
    width: 45px;
}

.order-text {
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0 30px 0;
}

.order-text-1 {
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 0 0;
}

.order-text-2 {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 30px 0;
}

.order-button-box {
    display: flex;
    gap: 20px;
    height: 45px;
}

.order-cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid black;
    border-radius: 10px;
    width: 104px;
    cursor: pointer;
}

.order-shortcuts {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    background-color: #228BE6;
    color: white;
    border-radius: 10px;
    width: 134px;
    cursor: pointer;
}